@model StorePageVM

@{
    var isEdit = Model?.StoreGet?.Id is > 0;

    ViewData["Title"] = !isEdit ? "Добавление хранилища" : "Изменение хранилища";
}

<form>
    <div class="row g-3 w-75 mx-auto">
        <input type="hidden" asp-for="StorePost.Id" value="@Model.StoreGet?.Id" />

        <div class="col">
            <label asp-for="StorePost.Name" class="form-label">Название:</label>
            <input asp-for="StorePost.Name" value="@Model.StoreGet?.Name" class="form-control" />
            <span asp-validation-for="StorePost.Name" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="StorePost.Address" class="form-label">Адрес:</label>
            <input asp-for="StorePost.Address" value="@Model.StoreGet?.Address" class="form-control" />
            <span asp-validation-for="StorePost.Address" class="text-danger"></span>
        </div>

        <div class="col-12 d-flex justify-content-around">
            @if (!isEdit)
            {
                <button type="submit" formmethod="post" asp-action="AddStore" class="btn btn-primary">Добавить</button>
            }
            else
            {
                <button type="submit" formmethod="post" asp-action="EditStore" class="btn btn-primary">Изменить</button>
                @if (Model.StoreGet.IsLinkedToUser)
                {
                    <button id="unlinkStoreFromUserButton" class="btn btn-outline-success">Удалить из моих хранилищ</button>
                }
                else
                {
                    <button id="linkStoreToUserButton" class="btn btn-success">Добавить в мои хранилища</button>
                }
                <button type="submit" formmethod="post" asp-action="RemoveStore" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>

@if (Model.StoreBooks != null)
{
    <table class="table table-hover table-bordered mt-5">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Автор</th>
                <th scope="col">Жанр</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @if (Model.StoreBooks.Any())
            {
                @foreach (var book in Model.StoreBooks.OrderBy(e => e.Author.ToString()).ThenBy(e => e.Title))
                {
                    <tr navigate asp-controller="Book" asp-action="Book" asp-route-id="@book.Id">
                        <td>
                            @book.Title
                        </td>
                        <td>
                            @book.Author.ToString()
                        </td>
                        <td>
                            @book.Genre.Name
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">
                        В этом хранилище пока нет ни одной книги
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts
{
    <script src="~/dist/store.entry.js" defer></script>
}