@model GenrePageVM

@{
    var isEdit = Model?.GenreGet?.Id is > 0;

    ViewData["Title"] = !isEdit ? "Добавление жанра" : "Изменение жанра";
}

<form>
    <div class="row g-3 w-75 mx-auto">
        <input type="hidden" asp-for="GenrePost.Id" value="@Model.GenreGet?.Id" />

        <div class="col">
            <label asp-for="GenrePost.Name" class="form-label">Название:</label>
            <input asp-for="GenrePost.Name" value="@Model.GenreGet?.Name" class="form-control" />
            <span asp-validation-for="GenrePost.Name" class="text-danger"></span>
        </div>

        <div class="col-12 d-flex justify-content-around">
            @if (!isEdit)
            {
                <button type="submit" formmethod="post" asp-action="AddGenre" class="btn btn-primary">Добавить</button>
            }
            else
            {
                <button type="submit" formmethod="post" asp-action="EditGenre" class="btn btn-primary">Изменить</button>
                <button type="submit" formmethod="post" asp-action="RemoveGenre" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>

@if (Model.GenreBooks != null)
{
    <table class="table table-hover table-bordered mt-5">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Автор</th>
                <th scope="col">Текущее хранилище</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @if (Model.GenreBooks.Any())
            {
                @foreach (var book in Model.GenreBooks.OrderBy(e => e.Author.ToString()).ThenBy(e => e.Title))
                {
                    <tr navigate asp-controller="Book" asp-action="Book" asp-route-id="@book.Id">
                        <td>
                            @book.Title
                        </td>
                        <td>
                            @book.Author.ToString()
                        </td>
                        <td>
                            @book.Store.Name
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">
                        В этом жанре пока нет ни одной книги
                    </td>
                </tr>
            }
        </tbody>
    </table>
}