@model BooksByStatusComponentVM

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
    @foreach (var book in Model.Books)
    {
        <div class="col">
            <div navigate asp-controller="Book" asp-action="Book" asp-route-id="@book.Id" class="card h-100">
                <img src="~/img/Thumbnails/BookThumbnail.svg" class="card-img-top">
                <div class="card-body"> 
                    <h5 class="card-title">@book.Title</h5>
                    <h6 class="card-subtitle text-muted">@book.Author.ToString()</h6>
                </div>
                <div class="card-footer">
                    <small>Находится в <a class="text-dark" asp-controller="Store" asp-action="Store" asp-route-id="@book.Store.Id">@book.Store.Name</a></small>
                </div>
            </div>
        </div>
    }
</div>