@model BookPageVM

@{
    ViewData["Title"] = Model?.Book is null ? "Добавление книги" : "Изменение книги";
}

<form>
    <div class="row g-3 w-75 mx-auto">
        <input type="hidden" asp-for="Book.Id" />

        <div class="col-6">
            <label for="titleInput" class="form-label">Название книги:</label>
            <input type="text" asp-for="Book.Title" class="form-control" id="titleInput" />
        </div>
        <div class="col-6">
            <label for="descriptionInput" class="form-label">Описание книги:</label>
            <input type="text" asp-for="Book.Description" class="form-control" id="descriptionInput" />
        </div>
        <div class="col-6">
            <label for="authorInput" class="form-label">Автор</label>
            <select asp-for="Book.Author.Id" class="form-select" id="authorInput">
                @foreach (var author in Model.Authors)
                {
                    <option value="@author.Id">@author.FirstName @author.LastName</option>
                }
            </select>
        </div>
        <div class="col-6">
            <label for="genreInput" class="form-label">Жанр</label>
            <select asp-for="Book.Genre.Id" class="form-select" id="genreInput">
                @foreach (var genre in Model.Genres)
                {
                    <option value="@genre.Id">@genre.Name</option>
                }
            </select>
        </div>
        <div class="col-6">
            <label for="storeInput" class="form-label">Хранилище</label>
            <select asp-for="Book.Store.Id" class="form-select" id="storeInput">
                @foreach (var store in Model.Stores)
                {
                    <option value="@store.Id">@store.Name</option>
                }
            </select>
        </div>

        <div class="col-12 d-flex justify-content-around">
            @if (Model?.Book is null)
            {
                <button type="submit" formmethod="post" asp-action="AddBook" class="btn btn-primary">Добавить</button>
            }
            else
            {
                <button type="submit" formmethod="post" asp-action="EditBook" class="btn btn-primary">Изменить</button>
                <button type="submit" formmethod="post" asp-action="RemoveBook" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>