@model IEnumerable<BookGetVM>

@{
    ViewData["Title"] = "Список книг";
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
            <th scope="col">Жанр</th>
            <th scope="col">Текущее хранилище</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var book in Model.OrderBy(e => e.Author.ToString()).ThenBy(e => e.Title))
        {
            <tr navigate asp-action="Book" asp-route-id="@book.Id">
                <td>
                    @book.Title
                </td>
                <td>
                    @book.Author.ToString()
                </td>
                <td>
                    @book.Genre.Name
                </td>
                <td>
                    @book.Store.Name
                </td>
            </tr>
        }
    </tbody>
</table>

<button navigate asp-action="Book" class="btn btn-primary align-self-center">
    Добавить книгу
</button>
