@model AuthorPageVM

@{
    var isEdit = Model?.AuthorGet?.Id is > 0;

    ViewData["Title"] = !isEdit ? "Добавление автора" : "Изменение автора";
}

<form>
    <div class="row g-3 w-75 mx-auto">
        <input type="hidden" asp-for="AuthorPost.Id" value="@Model.AuthorGet?.Id" />

        <div class="col-6">
            <label asp-for="AuthorPost.FirstName" class="form-label">Имя:</label>
            <input asp-for="AuthorPost.FirstName" value="@Model.AuthorGet?.FirstName" class="form-control" />
            <span asp-validation-for="AuthorPost.FirstName" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="AuthorPost.LastName" class="form-label">Фамилия:</label>
            <input asp-for="AuthorPost.LastName" value="@Model.AuthorGet?.LastName" class="form-control" />
            <span asp-validation-for="AuthorPost.LastName" class="text-danger"></span>
        </div>

        <div class="col-12 d-flex justify-content-around">
            @if (!isEdit)
            {
                <button type="submit" formmethod="post" asp-action="AddAuthor" class="btn btn-primary">Добавить</button>
            }
            else
            {
                <button type="submit" formmethod="post" asp-action="EditAuthor" class="btn btn-primary">Изменить</button>
                <button type="submit" formmethod="post" asp-action="RemoveAuthor" class="btn btn-danger">Удалить</button>
            }
        </div>
    </div>
</form>

@if (Model.AuthorBooks != null)
{
    <table class="table table-hover table-bordered mt-5">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Жанр</th>
                <th scope="col">Текущее хранилище</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @if (Model.AuthorBooks.Any())
            {
                @foreach (var book in Model.AuthorBooks.OrderBy(e => e.Title))
                {
                    <tr navigate asp-controller="Book" asp-action="Book" asp-route-id="@book.Id">
                        <td>
                            @book.Title
                        </td>
                        <td>
                            @book.Genre.Name
                        </td>
                        <td>
                            @book.Store.Name
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">
                        У этого автора пока нет ни одной книги
                    </td>
                </tr>
            }
        </tbody>
    </table>
}